
@media (max-width: 1024px) {

    ul.dropdown-menu {
        left: -25px;
    }
    .internet-content p {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {

    .hamburger {
        display: inherit;
    }
    .arrow {
        display: none;
    }
    .internet-content p{
        font-size: 1.1em;
    }
}

@media (max-width: 640px) {
    .nav {
        background-color: white;
        width: 100%;
    }
    .navbar-collapse.collapse {
        padding-top: 0px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .icon {
        display: none;
    }
    .work-subcategory:hover {
        text-decoration: none;
    }
    .about-bg {
        display: none;
    }
    .control-label {
        font-size: 1.4em;
    }
    .reference-block1 li {
        width: 50%;
    }
    .reference-block2 li {
        width: 100%;
    }
    .reference-block3 li {
        width: 100%;
    }
}